:root{
    --resizer-color: rgb(195, 195, 195);
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    height: 100vh;
}

/*////////////////////////////////////////////////////////////////////////Navigationsleiste*/
.navigationsleiste{
    background-color: #1992d4;
    grid-column: 1/2;
    grid-row: 1/6;
    resize: vertical;
    overflow: auto;
    user-select: none;
    width: 20vw;
    min-width: 140px;
    z-index: 1;
}

.navigationsleisteResizer{
    position: absolute;
    bottom: 0;
    height: 80%;
    width: 3px;
    background-color: var(--resizer-color);
}

.logo{
    margin: 20px;
    display: flex;
    min-width: 100px;
}

/*////////////////////////////////////////////////////////////////////////Kopfleiste*/
.kopfleiste{
    background-color: white;
    grid-column: 2/6;
    grid-row: 1/2;
    height: 20vh;
}

.kopfleisteResizer{
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--resizer-color);

}



/*////////////////////////////////////////////////////////////////////////Mitteilungsboard*/
.mitteilungsboard{
    grid-column: 2/6;
    grid-row: 2/6;
}

.mitteilungsboard{
    background-color: #e2e8f0;
}